{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Статус отпрвки сообщений{% endblock title%}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Список аккаунтов для рассылки</h2>
      </div>
      <div class="col s12">
        <p>Всего аккаунтов на рассылку : {{ pagination.meta.total }} </p>
      </div>

    </div>

    <div class="row">
      <form action="/api/v1/delete_accounts_db/" method="post">
        <button type="submit" class="red waves-effect waves-light btn-small">
            <i class="material-icons left">cloud</i>Удалить аккаунты
        </button>
    </form>
        <div class="col s12">
            <table class="striped highlight">
          <thead>
            <tr>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Входящих сообщений</th>
                <th>Удачные сообщения</th>
                <th>Ошибка</th>
                <th>Ссылка</th>
                <th>Время восстановления</th>
            </tr>
          </thead>

          <tbody>
            {% for item, conversation in pagination.items %}
            <tr class="waves-efffect">
              <td>{{ item.login }}</td>
              <td>{{ item.password }}</td>
              <td>{{ conversation }}</td>
              <td>{{ item.successful_messages }}</td>
              <td>{{ item.error_status }}</td>
              <td>{{ item.user_link }}</td>
              <td>{{ item.expire_timestamp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pagination">
          {% with page = pagination.meta.page, page_size = pagination.meta.page_size, pages = pagination.meta.pages %}
            {% if page != 1 %}
              <li class="waves-effect">
                <a href="/admin/accounts/?page_size={{ page_size }}&page={{ page - 1 }}">
                <i class="material-icons">chevron_left</i></a>
              </li>
            {%endif%}
            <li class="active"><a href="#!">{{ page }}</a></li>
            {% if page != pages%}
              <li class="waves-effect">
                <a href="/admin/accounts/?page_size={{ page_size }}&page={{ page + 1 }}"><i class="material-icons">chevron_right</i></a>
              </li>
            {%endif%}
          {%endwith%}
          <form class="col s12" method="post">
            <div class="row">
              <div class="input-field col s6">
                  <i class="material-icons prefix">face</i>
                  <input name="accounts" id="accounts" type="text" class="validate">
                  <label for="accounts">Аккаунты для рассылки</label>
              </div>
            </div>
            <button class="btn blue waves-effect waves-light" type="submit">Загрузить аккаунты</button>
          </form>
          <div class="row">
            <label for="accounts">Формат: login:password:token:proxy разделитель - enter</label>
          </div>
        </ul>
        </div>
    </div>

  </div>
</div>
{% endblock content %}