{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Информация о парсинге{% endblock title%}

{% block content %}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Парсинг №{{ parser_request.id }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>Создан: {{ parser_request.created_at|datetime_format }}</p>
        <p>Статус: <b>{{ parser_request.status }} </b></p>
        <p>Тип парсинга: {{ parser_request.parser_type }}</p>
        <p>Ссылка на группу: <a target="_blank" rel="noopener noreferrer"  href="{{parser_request.input_data['group_url'] }}">{{parser_request.input_data['group_url'] }}</a></p>
        {% if parser_request.error_message %}<p>Ошибка: <b><span class="red-text darken-5">{{parser_request.error_message}}</span></b></p> {% endif%}
        <hr>
      </div>
    </div>
    {% if parser_request.status == "SUCCESSFUL" %}
    <div class="row">
      <div class="col s6">
      <h5>Результат</h5>
        <a href="/admin/parsers/{{parser_request.id}}/users/" class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Скачать таблицу пользователей (csv)</a>
      </div>
      <br>
      {% if parser_request.parser_type == "VK_DOWNLOAD_AND_PARSED_POSTS"%}
       <table class="striped highlight">
          <thead>
            <tr>
                <th>VK ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Дата рождения</th>
                <th>Последний вход в ВК</th>
                <th>Посты</th>
            </tr>
          </thead>

          <tbody>
            {% for item in user_data %}
            <tr class="waves-efffect">
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.vk_user_id }}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.first_name }}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.last_name }}</span></a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{% if item.birth_date %}{{ item.birth_date|datetime_format }}{% endif %}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{% if item.last_visit_vk_date %}{{ item.last_visit_vk_date|datetime_format("%d.%m.%Y") }}{% endif %}</a></td>
              <td>
              {% for post in item.posts %}
              <a class="posts" target="_blank" rel="noopener noreferrer" href="{{ post.url }}">{{ post.text }}</a><br><br>
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form class="col s12" method="post">
          <button class="btn blue waves-effect waves-light" type="submit">Отправить сообщения</button>
        </form>
        {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}