{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Информация о парсинге{% endblock title%}

{% block content %}

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Парсинг №{{ parser_request.id }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <p>Создан: {{ parser_request.created_at|datetime_format }}</p>
        <p>Статус: <b>{{ parser_request.status }} </b></p>
        <p>Тип парсинга: {{ parser_request.parser_type }}</p>
        <p>Ссылка на группу: <a target="_blank" rel="noopener noreferrer"  href="{{parser_request.input_data['group_url'] }}">{{parser_request.input_data['group_url'] }}</a></p>
        {% if parser_request.error_message %}<p>Ошибка: <b><span class="red-text darken-5">{{parser_request.error_message}}</span></b></p> {% endif%}
        <hr>
      </div>
    </div>
    {% if parser_request.status == "SUCCESSFUL" %}
    <div class="row">
      <div class="col s6">
          <a href="/admin/parsers/{{parser_request.id}}/users/" class="waves-effect waves-light btn-small">
              <i class="material-icons left">cloud</i>Скачать таблицу пользователей (csv)
          </a>
      </div>
      <div class="col s6">
          <form id="sendMessageForm" action="/admin/parsers/{{parser_request.id}}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}" method="post">
            <button class="blue waves-effect waves-light btn-small" type="button" onclick="confirmSendMessage()">
                <i class="material-icons left">cloud</i>Отправить сообщения
            </button>
          </form>
      </div>
    </div>
    <div class="row">
      <div class="col s9">
          <form action="/admin/parsers/{{ parser_request.id }}/" method="get">
            <div class="row">
              <div class="input-field col s12">
                <select name="city" id="citySelect">
                    <option value="" disabled>Выберите город</option>
                    <option value="all_cities">Все города!</option>
                    {% for city in all_cities %}
                        <option value="{{ city }}"{{ city }}>{{ city }}</option>
                    {% endfor %}
                </select>
                <label>Город</label>
              </div>
              <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">link</i>
                    <input name="from_user_year" id="from_user_year" type="text" class="validate" value="1900">
                    <label for="from_user_year">От года рождения</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">link</i>
                  <input name="to_user_year" id="to_user_year" type="text" class="validate" value="2024">
                  <label for="to_user_year">До года рождения</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <select name="sex" id="sexSelect">
                      <option value="" disabled>Выберите пол</option>
                      <option value="all_sex">-</option>
                      <option value="М">Мужчина</option>
                      <option value="Ж">Женщина</option>
                  </select>
                  <label>Пол</label>
                </div>
            </div>
            <button class="btn blue waves-effect waves-light" type="submit">Фильтр
              <i class="material-icons right">send</i>
            </button>
          </form>
      </div>
      <br>
      {% if parser_request.parser_type == "VK_DOWNLOAD_AND_PARSED_POSTS"%}
       <table class="striped highlight">
          <thead>
            <tr>
                <th>VK ID</th>
                <th>Фамилия</th>
                <th>Пол</th>
                <th>Имя</th>
                <th>Дата рождения</th>
                <th>Последний вход в ВК</th>
                <th>Посты</th>
            </tr>
          </thead>

          <tbody>
            {% for item in user_data %}
            <tr class="waves-efffect">
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.vk_user_id }}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.first_name }}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.sex }}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.last_name }}</span></a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{% if item.birth_date %}{{ item.birth_date|datetime_format("%d.%m.%Y") }}{% endif %}</a></td>
              <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{% if item.last_visit_vk_date %}{{ item.last_visit_vk_date|datetime_format("%d.%m.%Y") }}{% endif %}</a></td>
              <td>
              {% for post in item.posts %}
              <a class="posts" target="_blank" rel="noopener noreferrer" href="{{ post.url }}">{{ post.text }}</a><br><br>
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% elif parser_request.parser_type == "VK_SIMPLE_DOWNLOAD"%}

        <div class="row">
          <div class="col s12">
            <h2 class="light-blue-text darken-3">Список пользователей</h2>
          </div>
          <div class="col s12">
            <p>Всего человек загружено : {{ user_data | length }} </p>
          </div>

        </div>
       <table class="striped highlight">
          <thead>
            <tr>
                <th>Photo</th>
                <th>VK ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Пол</th>
                <th>Телефон</th>
                <th>Доп. телефон</th>
                <th>Университет</th>
                <th>Город</th>
                <th>Дата рождения</th>
                <th>Последний вход в ВК</th>
            </tr>
          </thead>

          <tbody>
            {% for item in pagination.items %}
              <tr class="waves-efffect">
                <td><img src="{{ item.photo_100 }}" alt="User Photo" width="100" height="100"></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.vk_user_id }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.first_name }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.last_name }}</span></a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.sex }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.mobile_phone }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.home_phone }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.university_name }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{{ item.city }}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{% if item.birth_date %}{{ item.birth_date|datetime_format("%d.%m.%Y") }}{% endif %}</a></td>
                <td><a target="_blank" rel="noopener noreferrer" href="https://vk.com/id{{ item.vk_user_id }}">{% if item.last_visit_vk_date %}{{ item.last_visit_vk_date|datetime_format("%d.%m.%Y") }}{% endif %}</a></td>
                <td>
                  <span class="delete-icon" onclick="toggleDelete('{{ item.vk_user_id }}', '{{ parser_request.id }}')">&#10006;</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pagination">
          {% with page = pagination.meta.page, page_size = pagination.meta.page_size, pages = pagination.meta.pages %}
            {% if pages > 1 %}
              <!-- Previous page -->
              {% if page != 1 %}
                <li class="waves-effect">
                  <a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page={{ page - 1 }}"><i class="material-icons">chevron_left</i></a>
                </li>
              {% endif %}

              {% if page > 2 %}
                <!-- First page -->
                <li class="{% if page == 1 %} active {% else %} inactive {% endif %}">
                  <a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page=1">1</a>
                </li>
                <li class="inactive"><span>...</span></li>
              {% endif %}

              <!-- Middle pages -->
              {% if pages > 2 %}
                {% if page == 1 %}
                  <li class="active"><a href="#!">{{ page }}</a></li>
                  <li class="inactive"><a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page=2">2</a></li>
                  {% if pages > 3 %}
                    <li class="inactive"><span>...</span></li>
                  {% endif %}
                {% elif page == pages %}
                  <li class="inactive"><a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page={{ pages - 1 }}">{{ pages - 1 }}</a></li>
                  <li class="active"><a href="#!">{{ pages }}</a></li>
                {% else %}
                  <li class="inactive"><a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page={{ page - 1 }}">{{ page - 1 }}</a></li>
                  <li class="active"><a href="#!">{{ page }}</a></li>
                  <li class="inactive"><a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page={{ page + 1 }}">{{ page + 1 }}</a></li>
                  {% if pages > page + 1 %}
                    <li class="inactive"><span>...</span></li>
                  {% endif %}
                {% endif %}
              {% endif %}

              {% if page + 1 < pages %}
                <!-- Last page -->
                <li class="{% if page == pages %} active {% else %} inactive {% endif %}">
                  <a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page={{ pages }}">{{ pages }}</a>
                </li>
              {% endif %}

              <!-- Next page -->
              {% if page != pages %}
                <li class="waves-effect">
                  <a href="/admin/parsers/{{ parser_request.id }}/?city={{ response_data['city'] }}&from_user_year={{ response_data['from_user_year'] }}&to_user_year={{ response_data['to_user_year'] }}&sex={{ response_data['sex'] }}&page_size={{ page_size }}&page={{ page + 1 }}"><i class="material-icons">chevron_right</i></a>
                </li>
              {% endif %}
            {% endif %}
          {% endwith %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
  </div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<style>
  .delete-icon {
      color: black; /* Черный цвет по умолчанию */
      transition: color 0.3s ease; /* Плавное изменение цвета за 0.3 секунды */
  }

  .delete-icon:hover {
      color: red; /* Красный цвет при наведении */
      cursor: pointer; /* Изменение курсора на указатель при наведении */
  }
  th, td {
    max-width: 200px; /* Максимальная ширина столбцов */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });

  function toggleDelete(userId, parserId) {
      // Отправка данных на сервер
      fetch('/admin/delete_user/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          userId: userId,
          parserId: parserId
        })
      })
      .then(response => {
        // Обработка ответа от сервера
        console.log(response);
        // Обновление страницы после успешного удаления
        location.reload();
      })
      .catch(error => {
        // Обработка ошибки
        console.error('Ошибка:', error);
      });
  }

  function confirmSendMessage() {
    if (confirm("Вы уверены, что хотите отправить сообщения?")) {
      document.getElementById("sendMessageForm").submit();
    } else {
      return false;
    }
  }
</script>

{% endblock %}
