{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Статус отпрвки сообщений{% endblock title%}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Список сообщений для рассылки</h2>
      </div>
      <div class="col s12">
        <p>Всего сообщений на рассылку : {{ pagination.meta.total }} </p>
      </div>

    </div>

    <div class="row">
      <div class="col s9">
        <a href="/api/v1/delete_messages_db/" class="red waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Удалить сообщения</a>
      </div>
        <div class="col s12">
            <table class="striped highlight">
              <thead>
                <tr>
                    <th>Сообщения</th>
                </tr>
              </thead>

              <tbody>
                {% for item in pagination.items %}
                <tr class="waves-efffect">
                  <td>{{ item.message|replace('\n', '<br>') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          <ul class="pagination">
            {% with page = pagination.meta.page, page_size = pagination.meta.page_size, pages = pagination.meta.pages %}
            {% if page != 1 %}
            <li class="waves-effect">
              <a href="/admin/messages/?page_size={{ page_size }}&page={{ page - 1 }}">
              <i class="material-icons">chevron_left</i></a>
              </li>
            {%endif%}
            <li class="active"><a href="#!">{{ page }}</a></li>
            {% if page != pages%}
            <li class="waves-effect">
            <a href="/admin/messages/?page_size={{ page_size }}&page={{ page + 1 }}"><i class="material-icons">chevron_right</i></a>
            </li>
            {%endif%}
            {%endwith%}
            <form class="col s12" method="post">
                <div class="row">
                  <div class="input-field col s7">
                      <i class="material-icons prefix">face</i>
                      <textarea name="message" id="message" class="materialize-textarea validate"></textarea>
                      <label for="message">Сообщения для рассылки</label>
                  </div>
                  <div class="input-field col s7">
                    <i class="material-icons prefix">face</i>                 
                    <input type="number" id="order" name="order" />
                    <label for="order">Порядок для рассылки</label>
                  </div>
                </div>
                <button class="btn blue waves-effect waves-light" type="submit">Загрузить сообщения</button>
            </form>
            <div class="row">
                <label for="accounts">Сообщения не больше 1024 символов, для загрузки нескольких - разделитель "{}"</label>
            </div>
          </ul>
        </div>
    </div>

  </div>
</div>
{% endblock content %}