{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Статус отпрвки сообщений{% endblock title%}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Список статусов сообщений</h2>
      </div>
      <div class="col s12">
        <p>Всего массовых рассылок : {{ pagination.meta.total }} </p>
      </div>

    </div>

    <div class="row">
        <div class="col s12">
            <table class="striped highlight">
          <thead>
            <tr>
                <th>ID</th>
                <th>Статус</th>
                <th>Название группы</th>
                <th>Кол-во отправленных сообщений</th>
                <th>Создано</th>
                <th>Завершено</th>
                <th>Ошибка</th>
            </tr>
          </thead>

          <tbody>
            {% for item in pagination.items %}
            <tr class="waves-efffect">
              <td>{{ item.id }}</td>
              <td>{{ utils.badge(item.status) }}</td>
              <td><a href="#">Скоро...</span></a></td>
              <td>{{ item.successful_messages }}/{{ item.necessary_messages }}</td>
              <td>{{ item.created_at|datetime_format }}</td>
              <td>{% if item.finished_at %}{{ item.finished_at|datetime_format }}{% endif %}</td>
              <td><a href="/admin/parsers/{{ item.parser_request_id }}/">{% if item.error_message %}{{ item.error_message }}{% endif %}</a></td>
              <td>
                {% if item.status == send_message_status.PROCESSING.value %}
                  <span class="delete-icon" onclick="toggleCancel('{{ item.id }}', '{{ item.task_name }}')">&#9726;</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pagination">
          {% with page = pagination.meta.page, page_size = pagination.meta.page_size, pages = pagination.meta.pages %}
          {% if page != 1 %}
          <li class="waves-effect">
            <a href="/admin/send_messages/?page_size={{ page_size }}&page={{ page - 1 }}">
            <i class="material-icons">chevron_left</i></a>
            </li>
          {%endif%}
          <li class="active"><a href="#!">{{ page }}</a></li>
          {% if page != pages%}
          <li class="waves-effect">
          <a href="/admin/send_messages/?page_size={{ page_size }}&page={{ page + 1 }}"><i class="material-icons">chevron_right</i></a>
          </li>
          {%endif%}
          {%endwith%}
        </ul>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  function toggleCancel(sendMessageId, taskName) {
    fetch('/admin/send_messages/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        sendMessageId: sendMessageId,
        taskName: taskName,
      })
    })
    .then(response => {
      console.log(response);
      const newUrl = window.location.origin + window.location.pathname;
      history.replaceState({}, document.title, newUrl);
      location.reload();
    })
    .catch(error => {
      console.error('Ошибка:', error);
    });
}
</script>
{% endblock %}