<!DOCTYPE html>
<html lang="en">
<head>
  {% block head%}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="icon" type="image/x-icon" href="/static/imgs/favicon.png">
  <title>{% block title %} {% endblock title %} - VK CONSTRUCT</title>
  {% block css %}
  <link href="/static/css/fonts.css" rel="stylesheet">
  <link href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    .delete-icon {
        font-size: 24px;
        cursor: pointer;
    }
    .clicked {
        color: red; /* Цвет при клике */
    }
  </style>
  {% endblock css%}
  {% endblock head %}
</head>
<body>
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/admin/parsers/" class="brand-logo">VK ALBG</a>
      <ul class="right hide-on-med-and-down">
        {% if user_info %}
          {% if user_info['role'] == "admin" %}
            <li><a href="/admin/">Админ панель</a></li>
          {% else %}
          {% endif %}
          <li><a href="/admin/accounts/">Аккаунты</a></li>
          <li><a href="/admin/messages/">Сообщения</a></li>
          <li><a href="/admin/parsers/">Список парсингов</a></li>
          <li><a href="/admin/parsers/create/">Новый парсинг</a></li>
          <li><a href="/admin/send_messages/">Статусы сообщений</a></li>
          <li><a class="grey" href="/admin/">{{ user_info["login"] }} ({{ user_info["role"] }})</a></li>
          <li><a class="grey" href="/api/v1/logout/">Logout</a></li>
        {% else %}
          <li><a href="/admin/login/">Логин</a></li>
          <li><a href="/admin/registration/">Регистрация</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {% if user_info %}
          {% if user_info['role'] == "admin" %}
            <li><a href="/admin/">Админ панель</a></li>
          {% else %}
          {% endif %}
          <li><a href="/admin/accounts/">Аккаунты</a></li>
          <li><a href="/admin/messages/">Сообщения</a></li>
          <li><a href="/admin/parsers/">Список парсингов</a></li>
          <li><a href="/admin/parsers/create/">Новый парсинг</a></li>
          <li><a href="/admin/send_messages/">Статусы сообщений</a></li>
          <li><a href="/">{{ user_info["login"] }}</a></li>
          <li><a href="/api/v1/logout/">Logout</a></li>
        {% else %}
          <li><a href="/admin/login/">Логин</a></li>
          <li><a href="/admin/registration/">Регистрация</a></li>
        {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% block content %}

  {% endblock content %}

  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Описание проекта</h5>
          <p class="grey-text text-lighten-4">Парсер позволяющий выгрузить пользователей упоминаемых в группах ВК с фильтром возраста</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Полезные ссылки</h5>
          <ul>
            <li><a class="white-text" href="https://dev.vk.com/ru/method">Описание методов VK API</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% block scripts %}
  <script src="/static/js/jquery-3.7.1.min.js"></script>
  <script src="/static/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>
  {% endblock scripts %}
  </body>
</html>
