{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title%}Home{% endblock title%}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Статистика запросов</h2>
        <table class="striped highlight">
          <thead>
            <tr>
                <th>Тип парсинга</th>
                <th>Статус</th>
                <th>Кол-во</th>
            </tr>
          </thead>

          <tbody>
            {% for row in stat %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ utils.badge(row[1]) }}</span></td>
              <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
