{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Список парсингов{% endblock title%}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h2 class="light-blue-text darken-3">Список запросов всех пользователей</h2>
      </div>
      <div class="col s12">
        <p>Всего: {{ pagination.meta.total }} запросов</p>
      </div>
      <div class="row">
        <div class="col s6">
            <a href="/admin/all_users/" class="blue waves-effect waves-light btn-small">
                <i class="material-icons left">cloud</i>Права пользователей
            </a>
        </div>
      </div>

    </div>
    <div class="col s9">
      <form action="#" method="get">
        <div class="row">
          <div class="input-field col s12">
            <select name="parser" id="parserSelect">
              <option value="all_parsers"all_parsers>Все парсеры</option>
              {% for user in all_users %}
                <option value="{{ all_users[user] }}"{{ all_users[user] }}>{{ all_users[user] }}</option>
              {% endfor %}
            </select>
            <label>Пользователи</label>
          </div>
        </div>
        <button class="btn blue waves-effect waves-light" type="submit">Фильтр
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="striped highlight">
          <thead>
            <tr>
                <th>User_ID</th>
                <th>ID</th>
                <th>Тип парсинга</th>
                <th>Статус</th>
                <th>Создано</th>
                <th>Завершено</th>
                <th>Ошибка</th>
            </tr>
          </thead>

          <tbody>
            {% for item in pagination.items %}
            <tr class="waves-efffect">
              <td><a href="/admin/parsers/{{ item.id }}/">{{ all_users[item.user_id] }}</a></td>
              <td><a href="/admin/parsers/{{ item.id }}/">{{ item.id }}</a></td>
              <td><a href="/admin/parsers/{{ item.id }}/">{{ item.parser_type }}</a></td>
              <td><a href="/admin/parsers/{{ item.id }}/">{{ utils.badge(item.status) }}</span></a></td>
              <td><a href="/admin/parsers/{{ item.id }}/">{{ item.created_at|datetime_format }}</a></td>
              <td><a href="/admin/parsers/{{ item.id }}/">{% if item.finished_at %}{{ item.finished_at|datetime_format }}{% endif %}</a></td>
              <td><a href="/admin/parsers/{{ item.id }}/">{% if item.error_message %}{{ item.error_message }}{% endif %}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ul class="pagination">
          {% with page = pagination.meta.page, page_size = pagination.meta.page_size, pages = pagination.meta.pages %}
          {% if page != 1 %}
          <li class="waves-effect">
            <a href="/admin/?page_size={{ page_size }}&page={{ page - 1 }}">
            <i class="material-icons">chevron_left</i></a>
            </li>
          {%endif%}
          <li class="active"><a href="#!">{{ page }}</a></li>
          {% if page != pages%}
          <li class="waves-effect">
          <a href="/admin/?page_size={{ page_size }}&page={{ page + 1 }}"><i class="material-icons">chevron_right</i></a>
          </li>
          {%endif%}
          {%endwith%}
        </ul>
        </div>
    </div>

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock content %}


