{% extends "./base.html.j2" %}
{% import "./macros/utils.html.j2" as utils%}
{% block title %}Статус отпрвки сообщений{% endblock title%}

{% block content %}

<div class="container">
  <div class="col s12">
      <h2 class="light-blue-text darken-3">Авторизация</h2>
  </div>
  {% if no_user %}
  <div class="col s12 m6">
      <div class="card red accent-2">
          <div class="card-content white-text">
              <span class="card-title">Ошибка!</span>
              <p>Такого юзера не существует!</p>
          </div>
      </div>
  </div>
  {% endif %}
  {% if no_role %}
  <div class="col s12 m6">
      <div class="card red accent-2">
          <div class="card-content white-text">
              <span class="card-title">Ошибка!</span>
              <p>У вас ещё нет прав доступа! Обрптитесь к ответственному</p>
          </div>
      </div>
  </div>
  {% endif %}
  <div class="row justify-content-center">
      <div class="col-md-4"> <!-- Уменьшаем ширину блока -->
          <form action="/admin/login/" method="post"> <!-- Добавляем обработчик события onSubmit -->
              <div class="form-group mb-3"> <!-- Добавляем нижний отступ -->
                  <label for="Login" class="text-uppercase fw-bold">Логин</label>
                  <input name="login" type="text" class="form-control" id="Login" aria-describedby="LoginHelp" placeholder="Логин">
              </div>
              <div class="row">
                  <label for="login">Формат(И_Ф) на латинице: John_Smith</label>
              </div>
              <div class="form-group mb-3"> <!-- Добавляем нижний отступ -->
                  <label for="Password1" class="text-uppercase fw-bold">Пароль</label>
                  <input name="password" type="password" class="form-control" id="Password1" placeholder="Пароль">
              </div>
              <div class="row">
                  <label for="password">Пароль больше 6 символов на латинице: qwerty123</label>
              </div>
              <button type="submit" class="btn btn-primary">Войти</button>
          </form>
      </div>
  </div>
</div>

{% endblock content %}